<!DOCTYPE {mindbit.mpl.doctype}>
<html>
<!-- BEGIN mindbit.mpl.head.outer [hidden] -->
<head>
<!-- BEGIN mindbit.mpl.charset -->
<meta charset="{mindbit.mpl.charset}">
<!-- END mindbit.mpl.charset -->
<!-- BEGIN mindbit.mpl.title [hidden] -->
<title>{mindbit.mpl.title:e}</title>
<!-- END mindbit.mpl.title -->
<!-- BEGIN mindbit.mpl.cssref [hidden] -->
<link rel="stylesheet" href="{mindbit.mpl.cssref.href:e}" type="text/css" {mindbit.mpl.cssref.xattr}>
<!-- END mindbit.mpl.cssref -->
<!-- BEGIN mindbit.mpl.jsref [hidden] -->
<script type="text/javascript" src="{mindbit.mpl.jsref.src:e}"></script>
<!-- END mindbit.mpl.jsref -->
</head>
<!-- END mindbit.mpl.head.outer -->
<!-- BEGIN mindbit.mpl.frameset.outer [hidden] -->
<frameset>
<!-- BEGIN mindbit.mpl.frameset.inner -->
<!-- END mindbit.mpl.frameset.inner -->
</frameset>
<!-- END mindbit.mpl.frameset.outer -->
<!-- BEGIN mindbit.mpl.body.outer [hidden] -->
<body>
<!-- BEGIN mindbit.mpl.body.inner -->
<!-- END mindbit.mpl.body.inner -->
</body>
<!-- END mindbit.mpl.body.outer -->
</html>
